<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My test app</title>
  <style>
    body {
      width: 600px;
      margin: 1em auto;
    }
    h1 {
      font-size: 3em;
      font-variant: small-caps;
      text-align: center;
    }
    img {
      margin-left: 1.5em;
      margin-bottom: 1.5em;
      float: right;
    }
  </style>    
</head>
<body>
  <h1>
    Hello from {{ hostname|default('nowhere') }}!
  </h1>
  <img src="http://placekitten.com/g/300/300">
{% for paragraph in content %}
  <p>
    {{ paragraph }}
  </p>
{% endfor %}
</body>
</html>
